@using MVCCommercialAutomation.Models.Classes
@model List<SalesTransaction>

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Satış Detayı</h2>
<br />
<table class="table table-bordered" style="margin-top:20px;">
        <tr>
            <th>ID</th>
            <th>Ürün Bilgileri</th>
            <th>Müşteri Adı</th>
            <th>Personel Adı</th>
            <th>Adet</th>
            <th>Fiyat</th>
            <th>Toplam</th>
            <th>Tarih</th>
        </tr>
    
        @foreach (var s in Model)
        {
                <tr>
                    <td>@s.SalesTransactionID</td>
                    <td>@s.Product.ProductName</td>
                    <td>@s.Customers.CustomerName @s.Customers.CustomerSurname</td>
                    <td>@s.Employes.EmployesName @s.Employes.EmployesSurname</td>
                    <td>@s.Totalpcs</td>
                    <td>@s.Price</td>
                    <td>@s.TotalPrice</td>
                    <td>@s.Date</td>
                </tr>
        }

</table>
