@model MVCCommercialAutomation.Models.Classes.Invoice
@{
    ViewBag.Title = "InvoiceAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yeni Fatura Gir</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.InvoiceSerialNumber)
    @Html.TextBoxFor(x => x.InvoiceSerialNumber, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.InvoiceDetailNo)
    @Html.TextBoxFor(x => x.InvoiceDetailNo, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Date)
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Time)
    @Html.TextBoxFor(x => x.Time, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.TaxOffice)
    @Html.TextBoxFor(x => x.TaxOffice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Vendor)
    @Html.TextBoxFor(x => x.Vendor, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Recipient)
    @Html.TextBoxFor(x => x.Recipient, new { @class = "form-control" })
    <br />
    @Html.HiddenFor(x => x.InvoiceID)
    <button class="btn btn-primary">Kaydet</button>

</form>
